/data
/plotly
/__pycache__
pages/__pycache__

plotly/430_pie.html
plotly/430_plot.html
plotly/445_pie.html
plotly/445_plot_all_special.html
plotly/445_plot_all.html
plotly/445_plot_k.html
plotly/445_plot_main2.html
plotly/445_plot_noCENT.html
plotly/445_plot.html
plotly/452_pie.html
plotly/452_plot_main3.html
plotly/452_plot.html